In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [3]:
for num in mylist:
    # check for even
    if num%2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [4]:
list_sum = 0

for num in mylist:
    list_sum += num
    
print(list_sum)

55

In [6]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [7]:
for _ in 'Hello World':
    print("Udayaditya Singh")

Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh
Udayaditya Singh

In [13]:
tup = (1,2,3,'Uday', {'test' : 'test'},4,5,6,7,8,1,2,3,'Uday', {'test' : 'test'},4,5,6,7,8)
for item in tup:
    print(item)

1
2
3
Uday
{'test': 'test'}
4
5
6
7
8
1
2
3
Uday
{'test': 'test'}
4
5
6
7
8

In [2]:
mylist = [(1,3),(3,4),(5,6),(7,8)]

In [3]:
len(mylist)

4

In [4]:
for item in mylist:
    print(item)

(1, 3)
(3, 4)
(5, 6)
(7, 8)

In [6]:
for (a,b) in mylist:
    print(a)
    print(b)

1
3
3
4
5
6
7
8

In [7]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [8]:
for (a,b,c) in mylist:
    print(b)

2
6
9

In [9]:
d={'k1': 1, 'k2':2, 'k3': 3}

for item in d:
    print(item)

k1
k2
k3

In [10]:
d={'k1': 1, 'k2':2, 'k3': 3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [11]:
d={'k1': 1, 'k2':2, 'k3': 3}

for value in d.values():
    print(value)

1
2
3

In [12]:
d={'k1': 1, 'k2':2, 'k3': 3}

for (key,value) in d.items():
    print(key, value)

k1 1
k2 2
k3 3

In [4]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [5]:
x = [1,2,3]

for item in x:
    pass

print('End of script')

End of script

In [7]:
myString = 'Udayaditya Singh'

for letter in myString:
    if(letter == 'a'):
        continue
    print(letter)

U
d
y
d
i
t
y

S
i
n
g
h

In [8]:
myString = 'Udayaditya Singh'

for letter in myString:
    if(letter == 'a'):
        break
    print(letter)

U
d

In [9]:
myList = [1,3,5,6]

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [10]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [11]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [13]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [15]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [18]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [19]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [20]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [22]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [25]:
mylist1 = [1,3,3]
myList2 = ['a','b', 'c']

for item in zip(mylist1, myList2):
    print(item)

(1, 'a')
(3, 'b')
(3, 'c')

In [26]:
list(zip(mylist1, myList2))

[(1, 'a'), (3, 'b'), (3, 'c')]

In [27]:
x in [1,2,4]

False

In [28]:
1 in [1,3,5]

True

In [29]:
x in ['x','y','z']

False

In [30]:
'mykey' in {'mykey': 345}

True

In [31]:
d = {'mykey': 345}

345 in d.values()

True

In [32]:
mylist1 = [1,3,3]

In [33]:
min(mylist1)

1

In [34]:
max(mylist1)

3

In [37]:
from random import shuffle

In [38]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [44]:
shuffle(mylist)

In [40]:
myList

[5, 3, 6, 1]

In [45]:
mylist

[9, 2, 3, 5, 8, 1, 4, 6, 10, 7]

In [46]:
from random import randint

In [47]:
randint(0,100)

16

In [48]:
input('Enter a number : ')

Enter a number : 2

'2'

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]